<!DOCTYPE html>
<html lang="{{ htmllang() }}">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
        {% if record.title is defined %}{{ record.title|striptags }}
        {% else %} OPARQUE {% endif %}
    </title>

    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{{ paths.theme }}css/main.min.css">
</head>
<body>
    <header>
        <div class="logo">
            <a href="/">
                <img src="{{ paths.theme }}images/logo.svg" alt="Logo d'OPARQUE" />
            </a>
        </div>

        <div class="menu-button">
            <button class="button-open" onclick="toggleMenu(); return false;"></button>
        </div>

        <div class="social">
            <a href="https://instagram.com/oparque/" target="_blank"><img src="{{ paths.theme }}images/instagram.svg" alt="" /></a>
            <a href="https://www.facebook.com/grupocriativo.oparque" target="_blank"><img src="{{ paths.theme }}images/facebook.svg" alt="" /></a>
            <a href="https://vimeo.com/oparque" target="_blank"><img src="{{ paths.theme }}images/vimeo.svg" alt="" /></a>
        </div>

        <nav>
                <div class="first-column">
                    <a href="/">Sobre</a>
                    <a href="/projetos/">Projetos</a>
                    <a href="/">Onde estamos</a>
                </div>

                <div class="second-column">
                    <a href="/">Tá rolando</a>
                    <a href="/">Agenda</a>
                    <a href="/">Contatos</a>
                </div>
        </nav>
    </header>

    <main>
