{% include '_header.twig' %}

<div id="projetos-container">
    <ul class="categorias">
        <li class="design">
            <div class="background">
                <div class="image"></div>
            </div>

            <div class="content">
                <a>
                    <img src="{{ paths.theme }}images/projetos/lettering_design.svg" alt="Design" />
                </a>
            </div>
        </li>

        <li class="arte">
            <div class="background">
                <div class="image"></div>
            </div>

            <div class="content">
                <a>
                    <img src="{{ paths.theme }}images/projetos/lettering_arte.svg" alt="Artes" />
                </a>
            </div>
        </li>

        <li class="educacao">
            <div class="background">
                <div class="image"></div>
            </div>

            <div class="content">
                <a>
                    <img src="{{ paths.theme }}images/projetos/lettering_educacao.svg" alt="Educação" />
                </a>
            </div>
        </li>

        <li class="eventos">
            <div class="background">
                <div class="image"></div>
            </div>

            <div class="content">
                <a>
                    <img src="{{ paths.theme }}images/projetos/lettering_eventos.svg" alt="Eventos" />
                </a>
            </div>
        </li>
    </ul>

    <div class="sobre">
        <img src="{{ paths.theme }}images/os_projetos.svg" alt="Os projetos" />
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce posuere ante ut lectus rutrum, sed pulvinar ipsum rutrum. Morbi a porta lectus. Sed non mauris porttitor, feugiat lectus eget, scelerisque enim. Vivamus suscipit erat eu justo ultricies, ac tempor dolor suscipit.
        </p>
    </div>

    <div class="projetos">
        <ul>
            <li>
                <div class="background">
                    <div class="image" style="background-image: url(/files/projetos/avatis.jpg)"></div>
                </div>

                <div class="content">
                    <div class="info">
                        <div class="title">
                            <span style="background-color: #2d4c71">Avatis</span>
                        </div>
                        <div class="subtitle">
                            <span style="background-color: #2d4c71">
                                Mudança.
                                <br />Comportamento.
                                <br />Desempenho
                            </span>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="background">
                    <div class="image" style="background-image: url(/files/projetos/avatis.jpg)"></div>
                </div>

                <div class="content">
                    <div class="info">
                        <div class="title">
                            <span style="background-color: #2d4c71">Avatis</span>
                        </div>
                        <div class="subtitle">
                            <span style="background-color: #2d4c71">
                                Mudança.
                                <br />Comportamento.
                                <br />Desempenho
                            </span>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="background">
                    <div class="image" style="background-image: url(/files/projetos/avatis.jpg)"></div>
                </div>

                <div class="content">
                    <div class="info">
                        <div class="title">
                            <span style="background-color: #2d4c71">Avatis</span>
                        </div>
                        <div class="subtitle">
                            <span style="background-color: #2d4c71">
                                Mudança.
                                <br />Comportamento.
                                <br />Desempenho
                            </span>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="background">
                    <div class="image" style="background-image: url(/files/projetos/avatis.jpg)"></div>
                </div>

                <div class="content">
                    <div class="info">
                        <div class="title">
                            <span style="background-color: #2d4c71">Avatis</span>
                        </div>
                        <div class="subtitle">
                            <span style="background-color: #2d4c71">
                                Mudança.
                                <br />Comportamento.
                                <br />Desempenho
                            </span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

{% include '_footer.twig' %}