{% include '_header.twig' %}

<div id="projetos-container">
    <ul class="categorias">
        <li class="design">
            <div class="content">
                <a>
                    <img src="{{ paths.theme }}images/projetos/lettering_design.svg" alt="Design" />
                </a>
            </div>
        </li>

        <li class="arte">
            <div class="content">
                <a>
                    <img src="{{ paths.theme }}images/projetos/lettering_arte.svg" alt="Artes" />
                </a>
            </div>
        </li>

        <li class="educacao">
            <div class="content">
                <a>
                    <img src="{{ paths.theme }}images/projetos/lettering_educacao.svg" alt="Educação" />
                </a>
            </div>
        </li>

        <li class="eventos">
            <div class="content">
                <a>
                    <img src="{{ paths.theme }}images/projetos/lettering_eventos.svg" alt="Eventos" />
                </a>
            </div>
        </li>
    </ul>

    <div class="sobre">
        <div class="inner">
            <h1>
                <img src="{{ paths.theme }}images/projetos/lettering_aqui.svg" alt="Aqui nOPARQUE" />
                <img src="{{ paths.theme }}images/projetos/lettering_noparque.svg" alt="" />
            </h1>
            <p>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce posuere ante ut lectus rutrum, sed pulvinar ipsum rutrum. Morbi a porta lectus. Sed non mauris porttitor, feugiat lectus eget, scelerisque enim. Vivamus suscipit erat eu justo ultricies, ac tempor dolor suscipit.</span>
            </p>
        </div>
    </div>

    <div class="projetos">
        <ul>
            <li>
                <span class="content" style="background-image: url(/files/projetos/avatis.jpg);">
                    <span class="name">
                        <span style="background-color: #2f4f76">Avatis</span>
                    </span>
                    <span class="label">
                        <span style="background-color: #2f4f76">
                            Mudança.<br />
                            Comportamento.<br />
                            Desempenho
                        </span>
                    </span>
                </span>
            </li>

            <li>
                <span class="content" style="background-image: url(/files/projetos/az.jpg);">
                    <span class="name">
                        <span style="background-color: #e00101">Expo AZ</span>
                    </span>
                    <span class="label">
                        <span style="background-color: #e00101">
                            Mínimo Múltiplo<br />
                            (In)comum
                        </span>
                    </span>
                </span>
            </li>

            <li>
                <span class="content" style="background-image: url(/files/projetos/conceptho.jpg);">
                    <span class="name">
                        <span style="background-color: #7b9d61">Concepto</span>
                    </span>
                    <span class="label">
                        <span style="background-color: #7b9d61">
                            Obervar<br />
                            Detectar<br />
                            Adequar
                        </span>
                    </span>
                </span>
            </li>

            <li>
                <span class="content" style="background-image: url(/files/projetos/avatis.jpg);">
                    <span class="name">
                        <span style="background-color: #2f4f76">Avatis</span>
                    </span>
                    <span class="label">
                        <span style="background-color: #2f4f76">
                            Mudança.<br />
                            Comportamento.<br />
                            Desempenho
                        </span>
                    </span>
                </span>
            </li>

            <li>
                <span class="content" style="background-image: url(/files/projetos/az.jpg);">
                    <span class="name">
                        <span style="background-color: #e00101">Expo AZ</span>
                    </span>
                    <span class="label">
                        <span style="background-color: #e00101">
                            Mínimo Múltiplo<br />
                            (In)comum
                        </span>
                    </span>
                </span>
            </li>

            <li>
                <span class="content" style="background-image: url(/files/projetos/conceptho.jpg);">
                    <span class="name">
                        <span style="background-color: #7b9d61">Concepto</span>
                    </span>
                    <span class="label">
                        <span style="background-color: #7b9d61">
                            Obervar<br />
                            Detectar<br />
                            Adequar
                        </span>
                    </span>
                </span>
            </li>

            <li>
                <span class="content" style="background-image: url(/files/projetos/avatis.jpg);">
                    <span class="name">
                        <span style="background-color: #2f4f76">Avatis</span>
                    </span>
                    <span class="label">
                        <span style="background-color: #2f4f76">
                            Mudança.<br />
                            Comportamento.<br />
                            Desempenho
                        </span>
                    </span>
                </span>
            </li>

            <li>
                <span class="content" style="background-image: url(/files/projetos/az.jpg);">
                    <span class="name">
                        <span style="background-color: #e00101">Expo AZ</span>
                    </span>
                    <span class="label">
                        <span style="background-color: #e00101">
                            Mínimo Múltiplo<br />
                            (In)comum
                        </span>
                    </span>
                </span>
            </li>

            <li>
                <span class="content" style="background-image: url(/files/projetos/conceptho.jpg);">
                    <span class="name">
                        <span style="background-color: #7b9d61">Concepto</span>
                    </span>
                    <span class="label">
                        <span style="background-color: #7b9d61">
                            Obervar<br />
                            Detectar<br />
                            Adequar
                        </span>
                    </span>
                </span>
            </li>

            <li>
                <span class="content" style="background-image: url(/files/projetos/avatis.jpg);">
                    <span class="name">
                        <span style="background-color: #2f4f76">Avatis</span>
                    </span>
                    <span class="label">
                        <span style="background-color: #2f4f76">
                            Mudança.<br />
                            Comportamento.<br />
                            Desempenho
                        </span>
                    </span>
                </span>
            </li>

            <li>
                <span class="content" style="background-image: url(/files/projetos/az.jpg);">
                    <span class="name">
                        <span style="background-color: #e00101">Expo AZ</span>
                    </span>
                    <span class="label">
                        <span style="background-color: #e00101">
                            Mínimo Múltiplo<br />
                            (In)comum
                        </span>
                    </span>
                </span>
            </li>

            <li>
                <span class="content" style="background-image: url(/files/projetos/conceptho.jpg);">
                    <span class="name">
                        <span style="background-color: #7b9d61">Concepto</span>
                    </span>
                    <span class="label">
                        <span style="background-color: #7b9d61">
                            Obervar<br />
                            Detectar<br />
                            Adequar
                        </span>
                    </span>
                </span>
            </li>

            <li>
                <span class="content" style="background-image: url(/files/projetos/avatis.jpg);">
                    <span class="name">
                        <span style="background-color: #2f4f76">Avatis</span>
                    </span>
                    <span class="label">
                        <span style="background-color: #2f4f76">
                            Mudança.<br />
                            Comportamento.<br />
                            Desempenho
                        </span>
                    </span>
                </span>
            </li>

            <li>
                <span class="content" style="background-image: url(/files/projetos/az.jpg);">
                    <span class="name">
                        <span style="background-color: #e00101">Expo AZ</span>
                    </span>
                    <span class="label">
                        <span style="background-color: #e00101">
                            Mínimo Múltiplo<br />
                            (In)comum
                        </span>
                    </span>
                </span>
            </li>

            <li>
                <span class="content" style="background-image: url(/files/projetos/conceptho.jpg);">
                    <span class="name">
                        <span style="background-color: #7b9d61">Concepto</span>
                    </span>
                    <span class="label">
                        <span style="background-color: #7b9d61">
                            Obervar<br />
                            Detectar<br />
                            Adequar
                        </span>
                    </span>
                </span>
            </li>

            <li>
                <span class="content" style="background-image: url(/files/projetos/avatis.jpg);">
                    <span class="name">
                        <span style="background-color: #2f4f76">Avatis</span>
                    </span>
                    <span class="label">
                        <span style="background-color: #2f4f76">
                            Mudança.<br />
                            Comportamento.<br />
                            Desempenho
                        </span>
                    </span>
                </span>
            </li>

            <li>
                <span class="content" style="background-image: url(/files/projetos/az.jpg);">
                    <span class="name">
                        <span style="background-color: #e00101">Expo AZ</span>
                    </span>
                    <span class="label">
                        <span style="background-color: #e00101">
                            Mínimo Múltiplo<br />
                            (In)comum
                        </span>
                    </span>
                </span>
            </li>

            <li>
                <span class="content" style="background-image: url(/files/projetos/conceptho.jpg);">
                    <span class="name">
                        <span style="background-color: #7b9d61">Concepto</span>
                    </span>
                    <span class="label">
                        <span style="background-color: #7b9d61">
                            Obervar<br />
                            Detectar<br />
                            Adequar
                        </span>
                    </span>
                </span>
            </li>
        </ul>
    </div>
</div>

{% include '_footer.twig' %}